<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>user-messages-forms</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
    {{ moment.include_moment() }}
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	  <a class="navbar-brand" href="{{url_for('users.index')}}">user-messages-forms</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="{{url_for('users.index')}}">All Users</a>
	      <a class="nav-item nav-link" href="{{url_for('users.new')}}">Add User</a>
	      <a class="nav-item nav-link" href="{{url_for('tags.new')}}">Add Tag</a>
	      <a class="nav-item nav-link" href="{{url_for('tags.index')}}">All Tags</a>
	    </div>
	  </div>
	</nav>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<p class='p-0 text-center text-white bg-success'>{{message}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}


		{% block content %}
		{% endblock %}

		

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>	
</body>
</html>		