{% extends 'base.html' %}

{% block content %}

	<h1>All Users</h1>

	{% for user in users %}
	<p>
		{{user.first_name}} {{user.last_name}} <small>member since {{ moment(user.created_on, local=True).fromNow() }}</small>
		<br>
		<a href="{{url_for('users.edit', id=user.id)}}">Edit {{user.first_name}}</a> |
		<a href="{{url_for('messages.index', user_id=user.id)}}"> See {{user.first_name}}'s messages</a>
		<form method="POST" action="{{url_for('users.show', id=user.id)}}?_method=DELETE">
			{{  delete_form.hidden_tag() }}
			<input type="submit" class="btn btn-danger btn-sm" value="Delete {{user.first_name}}">
		
		</form>
		<hr>
	</p>
	{% endfor %}

{% endblock %}
