{% extends 'base.html' %}

{% block content %}
	<h1>New User Sign-Up</h1>
	<form id='new_user_form' method="POST" action="{{url_for('users.index')}}" novalidate>
		{{form.hidden_tag()}}
		{% for field in form if field.widget.input_type != 'hidden' %}
			<p>
				<!-- {{field.label}} -->
				{{field(placeholder=field.label.text)}}
				<span class='p-0 text-white bg-danger'>
					{% if field.errors %}
						{% for error in field.errors %}
							{{ error }}
						{% endfor %}
					{% endif %}
				</span>
			</p>
		{% endfor %}
		<input type="submit" class="btn btn-primary btn-sm col-4" value='Create'>
	</form>

{% endblock %}