{% extends 'base.html' %}

{% block content %}
	<h1>See all messages for {{user.first_name}}</h1>
	<a href="{{url_for('messages.new', user_id=user.id)}}">Send {{user.first_name}} a message</a>
	<br>
	<br>
	<br>
	{% for message in user.messages %}
	<p>
		{{message.content}} <small>posted {{ moment(message.updated_on, local=True).fromNow() }}</small>
		<br>
		<a href="{{url_for('messages.edit', user_id=user.id, id=message.id)}}">Edit this message</a>
		<form method="POST" action="{{url_for('messages.show', user_id=user.id, id=message.id)}}?_method=DELETE">
			{{  form.hidden_tag() }}
			<input type="submit" class="btn btn-danger btn-sm" value="Delete">
		</form>

	</p>
	{% endfor %}
{% endblock %}